@model IEnumerable<ApplicationUser>

@{
	ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
	<a class="btn btn-primary mb-3" style="width:auto"
	   asp-controller="Account" asp-action="Register">
		Add new user
	</a>

	@foreach (var user in Model)
	{
		<div class="card mb-3">
			<div class="card-header">
				@user.Id
			</div>

			<div class="card-body">
				<h5 class="card-title">
					@user.Email
				</h5>

			</div>

			<div class="card-footer">
				<form asp-action="DeleteUser" method="post" asp-route-Id="@user.Id">
					<a asp-controller="Administration" asp-action="EditUser"
					   asp-route-Id="@user.Id" class="btn btn-warning" style="width:auto">Edit</a>
					<button type="submit" class="btn btn-danger"
							style="width:auto" onclick="return confirm('Are you sure to delete this user : @user.UserName')">
						Delete
					</button>
				</form>
			</div>
		</div>
	}

}
else
{
	<div class="card">

		<div class="card-header">
			No users created yet
		</div>
		<div class="card-body">
			<h5 class="card-title">
				Use the bottom below to create a user
			</h5>
			<a class="btn btn-primary" style="width:auto"
			   asp-controller="Account" asp-action="Register">
				Add new user
			</a>
		</div>
	</div>
}